@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>BAD: stolen from github not noice...</strong>
</address>

<address>
    <strong>Creator:Sebi yu kno who</strong>
    
</address>