@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Do not click</h1>
    <p class="lead">Super ultra secret</p>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">PLZ no click here &raquo;</a></p>
</div>

